### Table of Contents
* [Introduction](#Intro)
* [Importing the Data](#Data)
* [Reformatting Dates](#reformat)
* [Exporting Data](#export)

### Introduction <a class="anchor" id="Intro"></a>

In this notebook we will load in the renewable energy generation data for the UK. We later export this data and the vast majority analysis will take place using Power BI.

In [5]:
#importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importing the Data <a class="anchor" id="Intro"></a>
First we import our two datasets:
- Energy generated: This dataset shows the total energy generated per renewable power source.
- Energy share: This shows the percentage of power generated (of all power generated) for each renewable power source.

In [6]:
#Loading in data on energy generation and inspecting the head
energy_generated = pd.read_csv("Renewables_Data//Energy Generated.csv")
energy_generated.head()

,Quarter,Onshore wind,Offshore wind,Shoreline wave,Solar photovoltaics,Hydro,Landfill gas,Sewage sludge digestion,Energy from waste,Co-firing with fossil fuels,Animal Biomass,Anaerobic digestion,Plant biomass,Liquid biofuels,TOTAL,Non-biodegradable wastes
0,2010 \r\n1st quarter,1757.35,670.86,0.55,5.74,844.91,1300.63,174.97,377.84,578.56,167.26,18.08,351.95,0.0,6248.68,246.73
1,2010 \r\n2nd quarter,1198.51,460.44,0.62,11.16,653.63,1291.12,188.98,383.00,459.71,160.60,24.05,420.93,0.0,5252.75,246.73
2,2010 \r\n3rd quarter,1933.71,825.67,0.63,14.52,855.88,1301.25,180.14,378.01,677.83,143.33,31.73,414.07,0.0,6756.78,246.73
3,2010 \r\n4th quarter,2336.40,1102.70,0.09,8.86,1236.95,1323.86,179.37,389.91,716.34,156.02,43.63,427.92,0.0,7922.05,246.73
4,2011 \r\n1st quarter,2396.57,998.07,0.19,15.34,1303.67,1327.38,189.48,377.50,828.47,158.89,47.15,432.76,0.0,8075.46,235.09

In [7]:
#loading in the energy share data and inspecting the head
energy_share = pd.read_csv("Renewables_Data//Energy Share.csv")
energy_share.head()

,Quarter,Onshore wind,Offshore wind,Shoreline wave,Solar photovoltaics,Hydro,Bioenergy and waste,All renewables,TOTAL ELECTRICITY GENERATED
0,2010 \r\n1st quarter,1.62,0.62,0.0,0.01,0.78,2.75,5.78,108183.0
1,2010 \r\n2nd quarter,1.39,0.53,0.0,0.01,0.76,3.38,6.07,86507.0
2,2010 \r\n3rd quarter,2.33,1.00,0.0,0.02,1.03,3.77,8.15,82878.0
3,2010 \r\n4th quarter,2.24,1.06,0.0,0.01,1.18,3.09,7.58,104501.0
4,2011 \r\n1st quarter,2.32,0.97,0.0,0.01,1.26,3.25,7.81,103370.0

### Reformatting the dates <a class="anchor" id="reformat"></a>
To work with our data, we need to change dates in the Quarter column to a better format, the following code does this by replacing and splitting.

We replace q1 with 1st Jan, q2 with 1st april, q3 with 1st july, and q4 with july 1st

In [8]:
energy_generated["Quarter"] = energy_generated["Quarter"].str.replace(" \r\n","")
energy_generated["Quarter"] = energy_generated["Quarter"].str.replace("1st quarter","-01-01")
energy_generated["Quarter"] = energy_generated["Quarter"].str.replace("2nd quarter","-04-01")
energy_generated["Quarter"] = energy_generated["Quarter"].str.replace("3rd quarter","-07-01")
energy_generated["Quarter"] = energy_generated["Quarter"].str.replace("4th quarter","-10-01")
energy_generated["Quarter"] = energy_generated["Quarter"].astype("datetime64")
energy_generated.dtypes

Quarter                        datetime64[ns]
Onshore wind                          float64
Offshore wind                         float64
Shoreline wave                        float64
Solar photovoltaics                   float64
Hydro                                 float64
Landfill gas                          float64
Sewage sludge digestion               float64
Energy from waste                     float64
Co-firing with fossil fuels           float64
Animal Biomass                        float64
Anaerobic digestion                   float64
Plant biomass                         float64
Liquid biofuels                       float64
TOTAL                                 float64
Non-biodegradable wastes              float64
dtype: object

In [9]:
energy_share["Quarter"] = energy_share["Quarter"].str.replace(" \r\n","")
energy_share["Quarter"] = energy_share["Quarter"].str.replace("1st quarter","-01-01")
energy_share["Quarter"] = energy_share["Quarter"].str.replace("2nd quarter","-03-01")
energy_share["Quarter"] = energy_share["Quarter"].str.replace("3rd quarter","-06-01")
energy_share["Quarter"] = energy_share["Quarter"].str.replace("4th quarter","-09-01")
energy_share["Quarter"] = energy_share["Quarter"].astype("datetime64")
energy_share.dtypes

Quarter                        datetime64[ns]
Onshore wind                          float64
Offshore wind                         float64
Shoreline wave                        float64
Solar photovoltaics                   float64
Hydro                                 float64
Bioenergy and waste                   float64
All renewables                        float64
TOTAL ELECTRICITY GENERATED           float64
dtype: object

### Exporting the Data <a class="anchor" id="export"></a>

In [10]:
#export energy share table
energy_share.to_csv("Exported_Data//energy_share.csv")

In [11]:
#export energy generated table
energy_generated.to_csv("Exported_Data//energy_generated.csv")